<main>
  <form [formGroup]="createCompanyForm">
    <h2>Identity</h2>
    <mat-form-field appearance="outline">
      <mat-label>Company name</mat-label>
      <input matInput placeholder="Company name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Document</mat-label>
      <input matInput placeholder="123.456.789-00" formControlName="document" />
    </mat-form-field>

    <h2>Address</h2>
    <mat-form-field appearance="outline">
      <mat-label>Address Line 1</mat-label>
      <input
        matInput
        placeholder="Address Line 1"
        formControlName="addressLine1"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address Line 2</mat-label>
      <input
        matInput
        placeholder="Address Line 2"
        formControlName="addressLine2"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput placeholder="State" formControlName="state" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Postal Code</mat-label>
      <input matInput placeholder="Postal Code" formControlName="postalCode" />
    </mat-form-field>

    <h2>Primary account</h2>

    <mat-form-field appearance="outline">
      <mat-label>Swift Code</mat-label>
      <input
        matInput
        placeholder="Enter swift code"
        formControlName="primarySwift"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Iban Code</mat-label>
      <input
        matInput
        placeholder="Enter iban code"
        formControlName="primaryIban"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bank name</mat-label>
      <input
        matInput
        placeholder="Enter bank name"
        formControlName="primaryBankName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bank Address</mat-label>
      <input
        matInput
        placeholder="Enter bank address"
        formControlName="primaryBankAddress"
      />
    </mat-form-field>
  </form>
</main>
