<main class="create-company-content">
  <form [formGroup]="createCompanyForm">
    <mat-card>
      <mat-card-content>
        <h1>Create Company</h1>
        <h2>Identity</h2>

        <mat-form-field appearance="outline">
          <mat-label>Company name</mat-label>
          <input matInput placeholder="Company name" formControlName="name" />
          @if (nameErrorText()) {
          <mat-error>{{ nameErrorText() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Document</mat-label>
          <input
            matInput
            placeholder="123.456.789-00"
            formControlName="document"
          />
          @if (documentErrorText()) {
          <mat-error>{{ documentErrorText() }}</mat-error>
          }
        </mat-form-field>

        <h2>Address</h2>
        <mat-form-field appearance="outline">
          <mat-label>Address Line 1</mat-label>
          <input
            matInput
            placeholder="Address Line 1"
            formControlName="addressLine1"
          />
          @if (addressLine1()) {
          <mat-error>{{ addressLine1() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address Line 2</mat-label>
          <input
            matInput
            placeholder="Address Line 2"
            formControlName="addressLine2"
          />
          @if (addressLine2()) {
          <mat-error>{{ addressLine2() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" />
          @if (city()) {
          <mat-error>{{ city() }}</mat-error>
          }
        </mat-form-field>

        <div class="create-company-content-row">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state" />
            @if (state()) {
            <mat-error>{{ state() }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              placeholder="Postal Code"
              formControlName="postalCode"
            />
            @if (postalCode()) {
            <mat-error>{{ postalCode() }}</mat-error>
            }
          </mat-form-field>
        </div>

        <h2>Primary account</h2>

        <div class="create-company-content-row">
          <mat-form-field appearance="outline">
            <mat-label>Swift Code</mat-label>
            <input
              matInput
              placeholder="Enter swift code"
              formControlName="primarySwift"
            />
            @if (primarySwift()) {
            <mat-error>{{ primarySwift() }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Iban Code</mat-label>
            <input
              matInput
              placeholder="Enter iban code"
              formControlName="primaryIban"
            />
            @if (primaryIban()) {
            <mat-error>{{ primaryIban() }}</mat-error>
            }
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Bank name</mat-label>
          <input
            matInput
            placeholder="Enter bank name"
            formControlName="primaryBankName"
          />
          @if (primaryBankName()) {
          <mat-error>{{ primaryBankName() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bank Address</mat-label>
          <input
            matInput
            placeholder="Enter bank address"
            formControlName="primaryBankAddress"
          />
          @if (primaryBankAddress()) {
          <mat-error>{{ primaryBankAddress() }}</mat-error>
          }
        </mat-form-field>
        <mat-divider></mat-divider>
        <button
          mat-flat-button
          (click)="onSubmit()"
          [disabled]="createCompanyForm.invalid"
        >
          Create company
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</main>
