<mat-card appearance="outlined">
  <mat-card-content>
    <div class="criteria-list">
      <div
        class="criteria-item"
        *ngFor="let criteria of criteriaList"
        [class.valid]="criteria.valid"
        [class.invalid]="!criteria.valid"
      >
        <mat-icon
          [color]="criteria.valid ? 'primary' : 'warn'"
          class="criteria-icon"
        >
          {{ criteria.icon }}
        </mat-icon>
        <span class="criteria-label">{{ criteria.label }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
