.company-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.company-info-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.selection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
